* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --black: #1e1e1e;
  --border-light: #c4c4c4;
  --med-gray: #878787;
  --white: #efefef;
  --Transition: all 0.25s cubic-bezier(0.29, 0.1, 0.34, 0.99);
  --Transition-2: all 0.3s cubic-bezier(0.29, 0.1, 0.34, 0.99);
}

.p-semibold {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--white);
}

p {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h1 {
  color: var(--white, #efefef);
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-size: 120px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h2 {
  color: var(--white, #efefef);
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h4 {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h5 {
  color: var(--white, #efefef);
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h6 {
  color: var(--white, #efefef);
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.regular {
  font-weight: 400;
}

.semibold {
  font-weight: 500;
}

.gray {
  color: var(--med-gray);
}

.white {
  color: var(--white);
}

nav {
  display: flex;
  padding: 48px 0px;
  justify-content: space-between;
  align-items: center;
  margin: 0 385px 0 32px;
  text-decoration: none;
}

.nav-links-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
  width: 320px;
  text-decoration: none;
  color: var(--white);
}

.link-style {
  text-decoration: none;
  color: var(--white);
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: var(--white);
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--white);
  transform-origin: center;
  transition: var(--Transition);
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}

.active-link {
  position: relative;
  color: var(--white);
}

.active-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--white);
  transform-origin: center;
  transition: var(--Transition);
  transform: scaleX(1);
}

.hover-right-position {
  transform: translate(0, 0);
  transition: var(--Transition);
  transform-origin: center;
}

.hover-right-position:hover {
  transform: translate(16px, 0);
}

.header {
  display: flex;
  padding: 16px 0;
  align-items: center;
  margin: 128px 32px 32px 32px;
  border-bottom: 0.5px solid var(--med-gray, #878787);
  cursor: default;
}

.header-link {
  border-bottom: 0.5px solid var(--med-gray, #878787);
  cursor: pointer;
  margin: 64px 32px;
}

.header-link-content {
  display: flex;
  padding: 16px 0;
  justify-content: space-between;
  align-items: center;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 632px;
  overflow: hidden;
  text-align: center;
}

.video img {
  width: 100vw;
  height: 100%;
  object-fit: cover;
}

.title-tag-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 0 12px;
  position: absolute;
  top: 10px;
}

.title-tag {
  background-color: rgba(30, 30, 30, 0.7);
  padding: 8px 16px;
  border-radius: 50px;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  border: none;
  z-index: 100;
  background-color: var(--black);
  padding: 24px;
  box-sizing: border-box;
}

.vimeo-video {
  width: 100%;
  height: 100%;
  border: none;
}

.close-modal-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}

.close-modal {
  text-decoration: none;
  border: 1px solid var(--white);
  border-radius: 4px;
  font-size: 18px;
  color: var(--white);
  background-color: var(--black);
  margin-bottom: 12px;
  cursor: pointer;
  font-family: "neue-haas-grotesk-text", sans-serif;
  padding: 6px 12px;
}

.homepage-bio-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0 32px;
}

.homepage-bio {
  width: 672px;
}

.work-preview-wrapper {
  width: 100%;
  padding: 24px 0px;
  border-top: 0.5px solid var(--med-gray, #878787);
  border-bottom: 0.5px solid var(--med-gray, #878787);
}

.work-preview-link {
  text-decoration: none;
}

.work-preview-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 32px 128px 32px;
}

.work-preview-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.work-preview-name-client {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex: 2;
}

.work-preview-name-client h5 {
  flex: 1;
}

.work-preview-name-client p {
  flex: 1;
}

.work-preview-services-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.work-preview-name-client,
.work-preview-services-container,
.work-preview-arrow {
  display: flex;
  align-items: center;
}

.service-tag-container {
  display: flex;
  overflow-x: auto;
  align-items: flex-start;
  padding: 0 32px 32px 32px;
  white-space: nowrap;
  flex-wrap: nowrap;
}

.service-tag {
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 1px solid var(--border-light, #c4c4c4);
  margin-right: 12px;
  cursor: pointer;
  color: var(--white);
}

.service-tag.selected {
  background-color: var(--white);
  color: var(--black);
}

.service-tag:hover {
  background-color: var(--white);
  color: var(--black);
  transition: var(--Transition);
}

.project-details-main {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0 32px;
}

.project-page-details-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.detail-info-line {
  display: flex;
  padding: 10px 0px;
  align-items: flex-start;
  border-bottom: 0.5px solid var(--med-gray, #878787);
  width: 672px;
}

.info-title {
  flex: 1;
}

.info-data {
  flex: 3;
}

.info-data-services {
  flex: 3;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.info-data-services-mobile {
  display: none;
}

.project-hero-container {
  display: flex;
  flex-direction: column;
  margin: 128px 32px 0 32px;
}

.project-hero-container h2 {
  margin-bottom: 32px;
}

.main-project-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-project-image-container video {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 32px;
}

.project-brief-container {
  display: flex;
  padding: 64px 0;
  margin: 32px 32px 64px 32px;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 0.5px solid var(--med-gray, #878787);
  border-bottom: 0.5px solid var(--med-gray, #878787);
}

.project-brief-container h5 {
  flex: 2;
  font-weight: 400;
}

.project-brief-container div {
  width: 672px;
}

.project-brief-paragraph {
  color: var(--white);
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container-right-global {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 32px;
}

.project-gallery-container {
  width: 1024px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

.project-image-container-page,
.project-video-container {
  display: flex;
  width: 494px;
  height: 438px;
  overflow: hidden;
}

.project-image,
.project-video-container video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.project-sidebar-container {
  width: 1024px;
  padding: 32px 0px;
  border-top: 0.5px solid var(--med-gray, #878787);
  border-bottom: 0.5px solid var(--med-gray, #878787);
  margin-top: 64px;
}

.image-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  z-index: 1000;
}

.image-modal-content {
  max-width: 80%;
  max-height: 80vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 18px;
  cursor: pointer;
  border: 1px solid var(--white);
  border-radius: 4px;
  color: var(--white);
  padding: 6px 12px;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 36px;
  color: white;
  cursor: pointer;
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

.chevron-mobile-left {
  transform: rotate(90deg);
  width: 160%;
}

.chevron-mobile-right {
  transform: rotate(-90deg);
  width: 160%;
}

.all-work-button {
  display: flex;
  width: 672px;
  padding: 32px 0px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-light, #c4c4c4);
  text-decoration: none;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--white, #efefef);
  background-color: var(--black);
  margin-top: 64px;
  cursor: pointer;
}

.all-work-button:hover {
  background-color: var(--white);
  color: var(--black);
  transition: var(--Transition);
}

.contact-button {
  display: flex;
  width: 100%;
  padding: 32px 0px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-light, #c4c4c4);
  text-decoration: none;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--white, #efefef);
  background-color: var(--black);
  margin-top: 64px;
  cursor: pointer;
}

.contact-button:hover {
  background-color: var(--white);
  color: var(--black);
  transition: var(--Transition);
}

.about-bio-container {
  width: 672px;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.services-global-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 32px;
  margin: 64px 0px;
}

.services-group-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.services-group-container h4 {
  flex: 1;
}

.services-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 672px;
}

.service-line-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 16px;
  width: 100%;
}

.services-line {
  display: flex;
  padding: 16px 0px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid var(--med-gray, #878787);
  background-color: var(--black);
}

.description-container {
  max-height: 0;
  opacity: 0;
  transition: var(--Transition-2);
}

.description-container.open {
  max-height: 1000px;
  opacity: 1;
  transition: var(--Transition-2);
}

.chevron {
  transition: transform var(--Transition);
}

.chevron.flip {
  transform: rotate(180deg);
}

.leader-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding: 0 32px;
  margin-bottom: 64px;
}

.leader-image-container {
  width: 672px;
  height: 552px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.leader-image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.leader-info-container {
  width: 672px;
}

.leader-info-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 32px;
}

.contact-global-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 0 32px;
  margin-bottom: 64px;
}

.contact-form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-input {
  display: flex;
  width: 672px;
  padding: 24px 18px;
  align-items: center;
  background: #333;
  border: none;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--white);
  margin-bottom: 16px;
}

.form-input textarea {
  height: auto;
}

.contact-form-info-container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 672px;
}

.success-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #333;
  padding: 128px 0px;
}

.phone-contact {
  width: 8rem;
}

.phone-container {
  display: flex;
  flex-direction: row;
}

.phone-container p {
  margin-right: 0.6rem;
}

.jobs-container {
  display: flex;
  width: 892px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 0 32px;
  margin-top: 64px;
}

.footer-global-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 32px;
  margin-bottom: 64px;
  margin-top: 256px;
}

.footer-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
}

.footer-address-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.footer-socials-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

@media only screen and (max-width: 600px) {
  .project-gallery-container {
    width: 1024px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .project-image-container-page {
    display: flex;
    width: 100%;
    height: 438px;
    overflow: hidden;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 40px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 14px;
  }

  p {
    font-size: 14px;
  }

  .header {
    margin: 64px 32px 24px 32px;
    padding: 8px 0;
  }

  .header-link {
    margin: 64px 32px 24px 32px;
    padding: 8px 0;
  }

  .header-link img {
    width: 10%;
  }

  .header-link-content {
    padding: 8px 0;
  }

  .video-container {
    max-height: 600px;
  }

  nav {
    margin: 0 32px;
  }

  nav img {
    width: 80%;
  }

  .nav-links-container {
    width: 240px;
  }

  .footer-info-container p {
    font-size: 10px;
  }

  .footer-info-container img {
    width: 80%;
  }

  .footer-socials-container img {
    width: 25%;
  }

  .homepage-bio {
    width: 100%;
  }

  .work-preview-wrapper {
    padding: 18px 0;
  }

  .work-preview-services-container {
    display: none;
  }

  .service-tag-container {
    padding: 0 32px 18px 32px;
  }

  .service-tag {
    padding: 10px 14px;
  }

  .project-details-main {
    justify-content: flex-start;
  }

  .project-page-details-container {
    width: 100%;
  }

  .detail-info-line {
    width: 100%;
  }

  .info-data-services {
    display: none;
  }

  .info-data {
    flex: 2;
  }

  .info-data-services-mobile {
    display: block;
    flex: 2;
  }

  .project-brief-container h5 {
    display: none;
  }

  .container-right-global {
    align-items: center;
    padding: 0 32px;
  }

  .project-gallery-container,
  .project-sidebar-container {
    width: 100%;
  }

  .project-gallery-row {
    flex-direction: column;
  }

  .project-brief-container {
    margin: 32px;
    padding: 32px 0;
  }

  .all-work-button {
    width: 84.5vw;
  }

  .about-bio-container {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .services-group-container {
    flex-direction: column;
  }

  .services-container {
    width: 100%;
  }

  .services-group-container h4 {
    flex: 1;
    padding-bottom: 16px;
    font-weight: 500;
  }

  .leader-container {
    flex-direction: column;
    margin-top: 64px;
  }

  .leader-image-container {
    width: 100%;
  }

  .leader-info-container {
    margin-left: 0px;
    width: 100%;
  }

  .leader-info-header {
    margin: 16px 0;
  }

  .contact-global-container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .contact-form {
    width: 100%;
  }

  .contact-form-container {
    width: 100%;
  }

  .form-input {
    width: 100%;
  }

  .contact-form-info-container {
    padding-left: 0px;
    padding-top: 32px;
    padding-bottom: 64px;
    width: 100%;
  }

  .jobs-container {
    width: 100%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1000px) {
  .project-gallery-container {
    width: 1024px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .project-image-container-page {
    display: flex;
    width: 100%;
    height: 600px;
    overflow: hidden;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 40px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 14px;
  }

  p {
    font-size: 14px;
  }

  .video-container {
    max-height: 400px;
  }

  .modal {
    width: 90%;
  }

  .close-modal {
    margin-bottom: 6px;
  }

  .header {
    margin: 64px 32px 24px 32px;
    padding: 8px 0;
  }

  .header-link {
    margin: 64px 32px 24px 32px;
    padding: 8px 0;
  }

  .header-link-content {
    padding: 8px 0;
  }

  nav {
    margin: 0 32px;
  }

  nav img {
    width: 80%;
  }

  .nav-links-container {
    width: 240px;
  }

  .footer-info-container p {
    font-size: 10px;
  }

  .footer-info-container img {
    width: 80%;
  }

  .footer-socials-container img {
    width: 25%;
  }

  .homepage-bio {
    width: 100%;
  }

  .work-preview-wrapper {
    justify-content: flex-start;
  }

  .work-preview-info {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }

  .work-preview-services-container {
    display: none;
  }

  .service-tag-container {
    padding: 0 32px 24px 32px;
  }

  .project-details-main {
    justify-content: flex-start;
  }

  .project-page-details-container {
    width: 100%;
  }

  .detail-info-line {
    width: 100%;
  }

  .info-data-services {
    display: none;
  }

  .info-data {
    flex: 2;
  }

  .info-data-services-mobile {
    display: block;
    flex: 2;
  }

  .project-brief-container h5 {
    display: none;
  }

  .container-right-global {
    align-items: center;
    padding: 0 32px;
  }

  .project-gallery-container,
  .project-sidebar-container {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .project-gallery-row {
    flex-direction: column;
  }

  .project-brief-container {
    margin: 32px;
    padding: 32px 0;
  }

  .project-brief-container div {
    width: 100%;
  }

  .all-work-button {
    width: 93vw;
  }

  .about-bio-container {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .services-group-container {
    flex-direction: column;
  }

  .services-container {
    width: 100%;
  }

  .services-group-container h4 {
    flex: 1;
    padding-bottom: 16px;
    font-weight: 500;
  }

  .leader-container {
    flex-direction: column;
    margin-top: 64px;
  }

  .leader-image-container {
    width: 100%;
  }

  .leader-info-container {
    margin-left: 0px;
    width: 100%;
  }

  .leader-info-header {
    margin: 16px 0;
  }

  .contact-global-container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .contact-form {
    width: 100%;
  }

  .contact-form-container {
    width: 100%;
    margin-top: 18px;
  }

  .form-input {
    width: 100%;
  }

  .contact-form-info-container {
    width: 100%;
  }

  .jobs-container {
    width: 100%;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1420px) {
  .video img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
  }

  .header {
    margin: 64px 32px 24px 32px;
    padding: 8px 0;
  }

  .header-link {
    margin: 64px 32px 24px 32px;
    padding: 8px 0;
  }

  .header-link-content {
    padding: 8px 0;
  }

  nav img {
    width: 80%;
  }

  nav {
    margin: 0 248px 0 32px;
  }

  .nav-links-container {
    width: 340px;
  }

  .close-modal {
    font-size: 24px;
  }

  .title-tag-container p {
    font-size: 24px;
  }

  .homepage-bio {
    width: 552px;
  }

  .work-preview-wrapper {
    justify-content: flex-start;
  }

  .work-preview-info {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }

  .service-tag-container {
    padding: 0 32px 24px 32px;
  }

  .project-details-main {
    justify-content: flex-end;
  }

  .project-page-details-container {
    width: 552px;
  }

  .detail-info-line {
    width: 100%;
  }

  .info-data-services {
    display: none;
  }

  .info-data {
    flex: 2;
  }

  .info-data-services-mobile {
    display: block;
    flex: 2;
  }

  .container-right-global {
    padding: 0 32px;
  }

  .project-gallery-container,
  .project-sidebar-container {
    width: 100%;
  }

  .project-brief-container {
    justify-content: flex-end;
  }

  .project-brief-container div {
    width: 552px;
  }

  .project-gallery-container {
    width: 552px;
    align-items: flex-end;
    grid-template-columns: repeat(1, 1fr);
  }

  .all-work-button {
    width: 552px;
  }

  .about-bio-container {
    width: 552px;
  }

  .services-container {
    width: 552px;
  }

  .services-group-container h4 {
    flex: 1;
    padding-bottom: 16px;
    font-weight: 500;
  }

  .leader-container {
    align-items: flex-start;
  }

  .leader-info-container {
    width: 552px;
  }

  .leader-info-header {
    margin: 16px 0;
  }

  .leader-image-container {
    flex: 1;
    margin-right: 40px;
    height: 500px;
  }

  .form-input {
    width: 352px;
  }

  .contact-form-info-container {
    width: 552px;
  }

  .jobs-container {
    width: 100%;
  }
}

@media only screen and (min-width: 1920px) {
  .video img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
  }

  .header {
    margin: 64px 32px 24px 32px;
    padding: 8px 0;
  }

  .header-link {
    margin: 64px 32px 24px 32px;
    padding: 8px 0;
  }

  .header-link-content {
    padding: 8px 0;
  }

  nav img {
    width: 80%;
  }

  nav {
    margin: 0 692px 0 32px;
  }

  .nav-links-container {
    width: 340px;
  }

  .close-modal {
    font-size: 24px;
  }

  .title-tag-container p {
    font-size: 24px;
  }

  .homepage-bio {
    width: 1004px;
  }

  .work-preview-wrapper {
    justify-content: flex-start;
  }

  .work-preview-info {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }

  .service-tag-container {
    padding: 0 32px 24px 32px;
  }

  .project-details-main {
    justify-content: flex-end;
  }

  .project-page-details-container {
    width: 1004px;
  }

  .detail-info-line {
    width: 100%;
  }

  .info-data-services {
    display: none;
  }

  .info-data {
    flex: 2;
  }

  .info-data-services-mobile {
    display: block;
    flex: 2;
  }

  .container-right-global {
    padding: 0 32px;
  }

  .project-gallery-container,
  .project-sidebar-container {
    width: 100%;
  }

  .project-brief-container {
    justify-content: flex-end;
  }

  .project-brief-container div {
    width: 1004px;
  }

  .project-gallery-container {
    width: 1004px;
    align-items: flex-end;
  }

  .all-work-button {
    width: 1004px;
  }

  .about-bio-container {
    width: 1004px;
  }

  .services-container {
    width: 1004px;
  }

  .services-group-container h4 {
    flex: 1;
    padding-bottom: 16px;
    font-weight: 500;
  }

  .leader-container {
    align-items: flex-start;
  }

  .leader-info-container {
    width: 1004px;
  }

  .leader-info-header {
    margin: 16px 0;
  }

  .leader-image-container {
    flex: 1;
    margin-right: 240px;
    height: 900px;
  }

  .contact-form-info-container {
    width: 1004px;
  }

  .jobs-container {
    width: 100%;
  }
}
